#infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  margin-top: 100px;
}
.content-apropos {
  position: relative;
  flex: 1;
  min-width: 350px;
  width: 50%;
  max-width: 700px;
  margin-top: 100px;
  padding: 0 30px 0 100px;
}
.content-apropos h3 {
  margin: 30px 0;
}
.content-apropos p {
  width: 70%;
}
.container-polyedre-apropos {
  position: absolute;
  bottom: -300px;
  width: 300px;
}
.container-polyedre-apropos img {
  transform: rotate(-95deg);
}
#container-apropos-img {
  flex: 1;
  background-image: url("../static/background-info.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  min-width: 400px;
  min-height: 30vh;
}
