

/*************************/
/* stylesheet de timothé */
/*************************/

/*********/
/* FONTS */
/*********/


/* Playfair */

@font-face {
	font-family: "Playfair";
	src: url("/static/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
font-style: italic;
}
@font-face {
	font-family: "Playfair";
	src: url("/static/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
font-weight: 400 900;
}

/* Lato */

@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-BlackItalic.ttf") format("truetype");
font-style: italic;
font-weight: 600;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-BoldItalic.ttf") format("truetype");
font-style: italic;
font-weight: 500;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-Italic.ttf") format("truetype");
font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-LightItalic.ttf") format("truetype");
font-style: italic;
font-weight: 300;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-ThinItalic.ttf") format("truetype");
font-style: italic;
font-weight: 200;
}

@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-Black.ttf") format("truetype");
font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-Bold.ttf") format("truetype");
font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-Regular.ttf") format("truetype");
font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-Light.ttf") format("truetype");
font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("/static/fonts/Lato-Thin.ttf") format("truetype");
font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Baskerville";
	src: url("/static/BASKVILL.ttf") format("truetype");
	font-style: normal;
}



/*************/
/* VARIABLES */
/*************/
:root{
	--dark-color: #222222;
	--light-color: #FCFCF7;

	--primary-color: #ab743e;
	--second-color: #e1bf8f;
	--third-color: #f8f1e9;

	--width-default: 1px;
	--border-: solid var(--dark-color) var(--width-default);

	--h1-size: 2.5em;
}

*::selection{
	color: var(--light-color);
	background-color: var(--primary-color);
	-webkit-text-fill-color: var(--light-color);
	-webkit-text-stroke-width: 0px;
}
*::-moz-selection{
	color: var(--light-color);
	background-color: var(--primary-color);
	-webkit-text-fill-color: var(--light-color);
	-webkit-text-stroke-width: 0px;
}

/***********/
/* COMMUNS */
/***********/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: var(--light-color);
	color: var(--dark-color);
}
h1{
	font-family: "Baskerville", serif;
	text-transform: uppercase;
}
h2{
	font-family: "Baskerville", serif;
	font-size: calc(6vw + 1.5em);
}
h3{
	font-family: "Playfair", serif;
	font-weight: 400;
}
h4{
	font-family: "Baskerville", serif;
	font-size: 2.3em;
	font-weight: 400;
	text-transform: uppercase;
}
h5{
	font-family: "Baskerville", serif;
	font-weight: 400;
	font-size: 1.4em;
}
p{
	font-family: "Lato", sans-serif;
	font-size: 0.9em;
	font-style: italic;
}
a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}
.container-polyedre{
	pointer-events: none;
	opacity: 0.2;
	z-index: -1;
}


/***********/
/* header */
/***********/
body{
	background: white;
}
#paper-texture{
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-image: url('../static/texture-paper.png');
	/* background-color: white; */
	background-size: cover; 
	opacity: 0.3;
	background-repeat: no-repeat;
	/* background-blend-mode: overlay; */
	pointer-events: none;
}
#map-texture{
	position: fixed;
	z-index: -3;
	width: 100vw;
	height: 100vh;
	background-image: url('../static/texture-map.png');
	background-size: cover;
	opacity: 0.1;
	background-repeat: no-repeat;
	pointer-events: none;

}

/***********/
/* header */
/***********/
header{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.container-logo{
	position: relative;
	height: calc( var(--h1-size) + 1em);
	overflow: hidden;
	transition: height 1s ease-in-out;
	padding-top: 1em;
	cursor: pointer;
}

header:hover .container-logo{
	height: calc( var(--h1-size) * 10 + 2em );
}
.container-logo::before{
	content: '';
	position: absolute;
	width: 60%;
	left: 50%;
	top: 0;
	height: 3px;
	background-color: #222222;
	transform: translateX(-50%);
}
header h1{
	font-size: var(--h1-size);
	letter-spacing: 20px;
	text-align: center;
}
nav{
	position: absolute;
	/* z-index: -2; */
	right: 50px;
}
nav ul a:nth-child(odd){
	position: relative;
	left: -30px;
}
nav li{
	font-family: 'Baskerville', serif;
	font-size: 1.4em;
	margin: 15px 0;
}
.content-home{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-polyedre-home{
	position: absolute;
	max-width: 500px;
	width: 50vw;
	min-width: 200px;
}
.container-polyedre img{
	width: 100%;
}


main{
	width: 100%;
	overflow-x: hidden;
}
/***********/
/* a propos */
/***********/

#infos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100vh;
	margin-top: 100px;
}
.content-apropos{
	position: relative;
	flex: 1;
	min-width: 350px;
	width: 50%;
	max-width: 700px;
	margin-top: 100px;
	padding: 0 30px 0 100px;
}
.content-apropos h3{
	margin: 30px 0;
}
.content-apropos p{
	width: 70%;
}
.container-polyedre-apropos{
	position: absolute;
	bottom: -300px;
	width: 300px;
}
.container-polyedre-apropos img{
	transform: rotate(-95deg);
}
#container-apropos-img{
	flex:1;
	background-image: url('../static/background-info.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
	min-width: 400px;
	min-height: 30vh;
}

/***********/
/* vignerons */
/***********/

#vignerons{
	display: flex;
	flex-direction: column;
	max-width: 900px;
	margin: 200px auto; 
	padding: 0 20px;
}
#vignerons h2 {
	text-align: right;
	margin-bottom: 100px;
}
.domaine-section{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
	transition: margin 300ms ease-in-out;
}
.domaine-section:nth-child(odd){
	/* align-items: flex-end; */
	align-self: flex-end;
}
.domaine-section:nth-child(odd) h4{
	text-align: right;
}
.domaine-section:nth-child(odd) .container-list {
	justify-content: flex-end;
}
.domaine-section:nth-child(odd) .txt-vigneron {
	left: inherit;
	right: 0;
	text-align: right;
}
.container-list{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 25px 0;
}
.list-vigneron{
	margin: 5px;
}
.nom-vigneron{
	padding: 4px 15px;
	border: black 1px solid;
	cursor: pointer;
}
.txt-vigneron{
	position: absolute;
	left: 0;
	margin: 15px 5px;
	max-width: 85%;
	min-width: 350px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 150ms ease-in-out;
}
.txt-vigneron p {
	line-height: 1.4em;
}
.active-nom .nom-vigneron{
	background-color: black!important;
	color: white;
}
.active-nom .txt-vigneron{
	opacity: 1!important;
	visibility: visible!important;
}
.container-polyedre-champagne{
	position: absolute;
	width: 300px;
	bottom: -600px;
	right: -300px;
	transform: translate(150%, 80%);
}
.container-polyedre-rhone{
	position: absolute;
	width: 300px;
	top: 300px;
	left: -200px;
	transform: translate(-50%, -80%);
}

/***********/
/* map */
/***********/

#map{
	position: relative;
	z-index: -2;
	width: 100%;
	height: 40vh;
	background-image: url('../static/texture-map.png');
	background-attachment: fixed;
	background-size: cover;
}


/***********/
/* contact */
/***********/

#contact{
	max-width: 900px;
	margin: 200px auto 150px auto;
	padding: 0 20px;
}
.content-contact{
	max-width: 400px;
	margin: 100px auto;
	text-align: center;
}
.content-contact h5{
	margin-bottom: 50px;
	line-height: 1.3em;
}
.content-contact p{
	position: relative;
	font-family: "Baskerville", serif;
	margin-bottom: 50px;
	font-size: 1em;
}
.content-contact p:last-child:before{
	position: absolute;
	content: '';
	z-index: -2;
	width: 74px;
	height: 18px;
	top: 0;
	left: 50%;
	background-image: url('../static/tilde-contact.png');
	transform: translate(-50%, calc(-50% - 25px)) scale(0.6);
	background-repeat: none;
}
.content-contact p span{
	display: block;
	font-size: 1.5em;
}
.reseaux{
	flex: 1;
	min-width: 250px;
}
.reseaux a{
	margin-right: 10px;
}
.retour-top{
	margin: 0 auto;
}
/***********/
/* footer */
/***********/
footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.11);
	padding: 50px 10vw;
}


/***********/
/* responsive */
/***********/
@media screen and (max-width: 640px) {
	:root{
			--h1-size: 1.3em;
	}
	header h1{
			white-space: nowrap;
	}
	nav {
			position: fixed;
			bottom: 0;
			right: inherit;
			left: inherit;
			z-index: 10;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.7);
	}
	nav ul{
			display: flex;
			justify-content: space-around;
	}
	nav ul a:nth-child(2n+1){
			left: inherit;
	}
	nav ul li{
			color: white;
	}
	.content-apropos{
			padding: 0 30px;
			margin: 0 0 80px 0;
	}
	.domaine-section{
			width: 100%;
	}
	.list-vigneron {
			margin: 2px;
	}
	.nom-vigneron h5{
			font-size: 1.1em;
	}
	.txt-vigneron{
			width: 100%;
			min-width: 300px;
	}
	#map{
			height: 65vh;
	}
	footer{
			margin-bottom: 55px;
	}
}